/* body {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #34495e;
  } */
  
  .content {
    position: absolute;
    top: 33.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 100%;
    overflow: hidden;
    font-family: jetbrains mono;
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 150px;
    color: #000000;
}

.content__container {
    font-size: 10vw;
    overflow: hidden;
    height: 150px;
    padding: 0 40px;
    position: relative;
}

.content__container:before {
    content: '<';
    position: absolute;
    top: 50%;
    left: 135px; /* Adjusted left value for the left bracket */
    transform: translateY(-50%); /* Center the bracket vertically */
    color: #9a9898;
    font-size: 10vw;
    line-height: 150px;
    animation: opacity 5s infinite;
}

.content__container:after {
    content: '>';
    position: absolute;
    top: 50%;
    right: 155px; /* Adjusted right value for the right bracket */
    transform: translateY(-50%); /* Center the bracket vertically */
    color: #9a9898;
    font-size: 10vw;
    line-height: 150px;
    animation: opacity 5s infinite;
}

.content__container__list {
    margin-top: 0;
    padding-left: 0px;
    text-align: center;
    list-style: none;
    animation: change 10s infinite;
    white-space: nowrap;
}

.content__container__list__item {
    line-height: 150px;
    margin: 0;
}

@media (max-width: 767px) {
    .content {
        font-size: 8vw; /* Adjust font size for smaller screens */
        font-family: jetbrains mono;
        text-rendering: optimizeLegibility;
    }
    .content__container:before,
    .content__container:after {
        font-size: 8vw; /* Adjust font size for smaller screens */
        line-height: 150px;
        font-family: jetbrains mono;
        letter-spacing: -.01em;
        text-rendering: optimizeLegibility;
    }

    .content__container:before {
        left: 25px; /* Adjusted left value for the left bracket */
    }

    .content__container:after {
        right: 30px; /* Adjusted right value for the right bracket */
    }
}



  
  @-webkit-keyframes opacity {
	0%, 100% {opacity:0;}
	50% {opacity:1;}
  }
  
  @-webkit-keyframes change {
    0%, 48%, 100% { transform: translate3d(0, 0, 0); }
    50%, 98% { transform: translate3d(0, -50%, 0); } /* First item */
  }
  
  @-o-keyframes opacity {
	0%, 100% {opacity:0;}
	50% {opacity:1;}
  }
  
  @-o-keyframes change {
    0%, 48%, 100% { transform: translate3d(0, 0, 0); }
    50%, 98% { transform: translate3d(0, -50%, 0); } /* First item */
  }
  
  @-moz-keyframes opacity {
	0%, 100% {opacity:0;}
	50% {opacity:1;}
  }
  
  @-moz-keyframes change {
    0%, 48%, 100% { transform: translate3d(0, 0, 0); }
    50%, 98% { transform: translate3d(0, -50%, 0); } /* First item */
  }
  
  @keyframes opacity {
	0%, 100% {opacity:0;}
	50% {opacity:1;}
  }
  
  @keyframes change {
    0%, 48%, 100% { transform: translate3d(0, 0, 0); }
    50%, 98% { transform: translate3d(0, -50%, 0); } /* First item */
  }


/* ../styles/about2.0.css */
/* Your existing CSS styles */



.terminal-window {
  text-align: left;
  top: 20.5%;
  left: -1%;
  width: 70%;
  height: 40%;
  border-radius: 10px 10px 10px 10px;
  margin:auto;
  position: relative;
}

.terminal-window header {
  background: rgba(0, 0, 0, 0.8);
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
  display: flex; 
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .run-button {
  /* background: rgb(49, 49, 49); */
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  left: -1%;
  position: relative; /* Adjust the margin as needed */
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 2vw;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
  border-radius: 0px 0px 10px 10px;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}

@media (max-width: 767px) {
  .terminal-window {
    width: 80%; /* Adjust to full width */
    height: 43%; /* Adjust to fit content */
    border-radius: 0; /* Remove border radius */
    position: relative;
    top:15%;
  }

  .terminal-window header {
    padding: 5px 10px; /* Reduce padding for better fit */
  }

  .terminal-window section.terminal {
    font-size: 2.5vh; /* Adjust font size for better readability */
    top: 30px; /* Keep a small margin from the header */
    bottom: 0;
    overflow: auto;
  }

  /* ... Rest of the styles for mobile ... */
}

/* ================ Timeline Media Queries ================ */

/* @media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

} */

/* @media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

} */
