---
import MainLayout from '../layouts/main-layout.astro';
// import '../styles/about2.0.css';
// import '../styles/projects.css';
import AboutMe from '../Sections/About_me.astro';
import Projects from '../Sections/Projects.astro';
---

<MainLayout title="Haneef Taher">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="section section1">
      <AboutMe />
    </div>
      <div class = "section section3">
        <Projects />
        </div>
      
</body> 
</MainLayout>

<style>
  .section {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
}
</style>









