---
import MainLayout from '../layouts/main-layout.astro';
import '../styles/about2.0.css';
import AboutMe from '../Sections/About_me.astro';
---

<MainLayout title="Haneef Taher">
  <head>
  </head>
  <body>

  <!-- <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">About Me</h1>
        </div>
      </div>
    </div> -->
    <div class="section section1">
      <AboutMe />
    </div>

      <div class = "section section2">
        </div>
      
      
    <!-- <div class='console-container mobile-visible'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div> -->
    <!-- <style>
      @media (min-width: 768px) {
        .mobile-visible {
          display: none;
        }
      }
    </style> -->
</body> 
</MainLayout>

<style>
  .section {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* align-items: center;
    justify-content: center;
    font-size: 24px; */
    scroll-snap-align: start; /* Snap each section to the top of the viewport */
}
</style>









