---
import HeaderLink from './HeaderLink.astro';
// import DayNightToggle from './DaynightToggle.astro';
---

<header>
	<h2>
		Haneef Taher
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="https://github.com/HaneefT" target="_blank">GitHub</HeaderLink>
		<!-- <DayNightToggle />	 -->
	</nav>
</header>


<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
