---
import '../styles/about2.0.css';
---

    <div class="content">
        <div class="content__container">
          <ul class="content__container__list">
            <li class="content__container__list__item">
                Hello World!</li>
            <li class="content__container__list__item">about me.</li>
          </ul>
        </div>
      </div>

      
      
      