---
import "../styles/projects.css"
---

<script>
/*--------------------
Vars
--------------------*/
let progress = 50;
let active = 0;

/*--------------------
Get Z
--------------------*/
const getZindex = (array: any, index: number) => array.map((_, i) => (index === i) ? array.length : array.length - Math.abs(index - i));

/*--------------------
Items
--------------------*/
const $items = document.querySelectorAll('.carousel-item');

const displayItems = (item, index: number, active: number) => {
  const zIndex = getZindex([...$items], active)[index];
  item.style.setProperty('--zIndex', zIndex);
  item.style.setProperty('--active', ((index - active) / $items.length).toString());
};

/*--------------------
Animate
--------------------*/
const animate = () => {
  progress = Math.max(0, Math.min(progress, 100));
  active = Math.floor(progress / 100 * ($items.length - 1));

  $items.forEach((item, index) => displayItems(item, index, active));
  const header1 = document.querySelector('.carousel-header') as HTMLElement;
  const header2 = document.querySelector('.carousel-header2') as HTMLElement;
  const $header1 = document.querySelector('.carousel-header');
const $header2 = document.querySelector('.carousel-header2');
  if (active < 3) {
    header2.style.opacity = '0.5';
    header1.style.opacity = '1';
    header2.style.fontSize = '2.9vw';
    header1.style.fontSize = '3.9vw';

  } else {
    header2.style.opacity = '1';
    header1.style.opacity = '0.5';
    header1.style.fontSize = '2.9vw';
    header2.style.fontSize = '3.9vw';


  }
};
animate();

const $carouselItems = document.querySelectorAll('.carousel-item');

$carouselItems.forEach((item, i) => {
  // item.addEventListener('mouseenter', () => {
  //   const bottomText = item.querySelector('.info') as HTMLElement;
  //   const Title = item.querySelector('.title') as HTMLElement;
  //   bottomText!.style.opacity = '1';
  // });
  
  // item.addEventListener('mouseleave', () => {
  //   const bottomText = item.querySelector('.info') as HTMLElement;
  //   const Title = item.querySelector('.title') as HTMLElement;
  //   bottomText!.style.opacity = '0';
  // });

  item.addEventListener('click', () => {
    // Remove the 'active' class from all items
    $carouselItems.forEach(item => {
      item.classList.remove('activei');
    });

    // Add the 'active' class to the clicked item
    item.classList.add('activei');
  });
});

const $header1 = document.querySelector('.carousel-header');
const $header2 = document.querySelector('.carousel-header2');

// Function to remove "activei" class from all items
function removeActiveClassFromItems() {
  $items.forEach(item => {
    item.classList.remove('activei');
  });
}

// Handle click on header1 to show item1
$header1!.addEventListener('click', () => {
  const item1 = document.querySelector('#item1') as HTMLElement;
  const itemIndex = Array.from($items).indexOf(item1);

  removeActiveClassFromItems(); // Remove class from all items
  item1.classList.add('activei');
  progress = (itemIndex / ($items.length - 1)) * 100;
  animate();
});

// Handle click on header2 to show item3 (or any desired item)
$header2!.addEventListener('click', () => {
  const item3 = document.querySelector('#item3') as HTMLElement;
  const itemIndex = Array.from($items).indexOf(item3);

  removeActiveClassFromItems(); // Remove class from all items
  item3.classList.add('activei');
  progress = (itemIndex / ($items.length - 1)) * 100;
  animate();
});




/*--------------------
Click on Items
--------------------*/
$items.forEach((item, i) => {
  item.addEventListener('click', () => {
    progress = (i / ($items.length - 1)) * 100;
    animate();
  });
});


    </script>
    
<!-- <div class="carousel-container"> -->
    
<div class="carousel">
    <div class="carousel-header">
        Projects
      </div>
    <div class="carousel-header2">
        Essays
    </div>
	<div class="carousel-item" id = "item1">
		<div class="carousel-box">
			<div class="title">MineCrate</div>
			<div class="img">
      <img src="/minecrate.png" alt="MineCrate" width="85%" height="85%" /></div>
        <div class="info">Made with JS and Rust, Minecrate is a simple market place for Minecraft players to buy and sell goods.<br>
          ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
          ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
          </div>
          <div class="carousel-links">
            <a href="https://devpost.com/software/minecrate" target = "_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="white" d="M6.002 1.61L0 12.004L6.002 22.39h11.996L24 12.004L17.998 1.61zm1.593 4.084h3.947c3.605 0 6.276 1.695 6.276 6.31c0 4.436-3.21 6.302-6.456 6.302H7.595zm2.517 2.449v7.714h1.241c2.646 0 3.862-1.55 3.862-3.861c.009-2.569-1.096-3.853-3.767-3.853Z"/></svg></a>
          </div>
        </div>
	</div>

	<div class="carousel-item">
    <div class="carousel-box">
      <div class="title">MiniBall</div>
      <div class="img">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 800" >
          <defs>
            <radialGradient id="sssurface-grad-dark" r="75%" cx="20%" cy="20%">
              <stop offset="0%" stop-color="hsl(351, 100%, 67%)" stop-opacity="0"></stop>
              <stop offset="100%" stop-color="#c61945" stop-opacity="1"></stop>
            </radialGradient>
            <radialGradient id="sssurface-grad-light" r="25%" cx="30%" cy="30%">
              <stop offset="0%" stop-color="#ff8b9e" stop-opacity="0.75"></stop>
              <stop offset="100%" stop-color="hsl(351, 100%, 67%)" stop-opacity="0"></stop>
            </radialGradient>
            <filter id="sssurface-blur" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feGaussianBlur stdDeviation="30" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur"></feGaussianBlur>
            </filter>
          </defs>
          <g>
            <ellipse rx="150" ry="75" cx="450" cy="500" fill="#8f001f" opacity="0.25" filter="url(#sssurface-blur)"></ellipse>
            <circle r="150" cx="400" cy="400" fill="hsl(351, 100%, 67%)"></circle>
            <circle r="150" cx="400" cy="400" fill="url(#sssurface-grad-dark)"></circle>
            <circle r="150" cx="400" cy="400" fill="url(#sssurface-grad-light)"></circle>
          </g>
        </svg>
      </div>

      <div class="info">
        Mini Ball game made with Unity using C#, with realistic ball movements and collisions.<br>
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
      </div>
      <div class="carousel-links">
        <a href="https://github.com/HaneefT/MiniBall" target = "_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27c.68 0 1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg> </a>
      </div>
    </div>
  </div>
  

	<div class="carousel-item activei">
		<div class="carousel-box">
			<div class="title">Source Code</div>
      <div class="img">
        <img src="/T__3_-removebg-preview.png" alt="Source Code" />
      </div>
        <div class="info">
        Access the source code for this website, made with HTML, CSS, React and JS.<br> 
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
        </div>
        <div class="carousel-links">
          <a href="https://github.com/HaneefT/Website" target = "_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27c.68 0 1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg> </a>
        </div>
		</div>
	</div>

	<div class="carousel-item" id = "item3">
		<div class="carousel-box">
			<div class="title">Plato's Apology</div>
      <div class="img">
        <img src="/T__4_-removebg-preview.png" alt="Source Code" />
      </div>
      <div class="info">An essay with a thesis wherein I argue that Socrates was right to uphold his legal obligation to justice.<br> 
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎</div>
        <div class="carousel-links">
          <a href="/Essay 1.pdf" target = "_blank"><svg class="text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 16.5c0-1-8-2.7-9-2V1.8c1-1 9 .707 9 1.706M10 16.5V3.506M10 16.5c0-1 8-2.7 9-2V1.8c-1-1-9 .707-9 1.706"/>
          </svg></a>
        </div>
      </div>
	</div>

	<div class="carousel-item">
		<div class="carousel-box">
			<div class="title">Nicomachean Ethics</div>
      <div class="img">
        <img src="/T__5_-removebg-preview.png" alt="Source Code" />
      </div>
      <div class="info">An essay with a thesis wherein I assert that Aristotle's function argument is logically sound.<br> 
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ 
        ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ </div>
        <div class="carousel-links">
          <a href="/Essay 2.pdf" target = "_blank"><svg class="text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 16.5c0-1-8-2.7-9-2V1.8c1-1 9 .707 9 1.706M10 16.5V3.506M10 16.5c0-1 8-2.7 9-2V1.8c-1-1-9 .707-9 1.706"/>
          </svg></a>
        </div>
      </div>
	</div>
</div>

<div class="layout">
	<div class="box">I need a CO-OP<br />Please<br />Help</div>
</div>