<div class="container">
    <div class="parent card1">
      <h1 class="columntitle">EDUCATION.</h1>
      <div class="card">
        <div class="content-box">
          <h1 class="card-title">McMaster University</h1>
          <h3 class="card-subtitle">
            <span>Bachelor of Computer Science</span><span id="education-date"
            ></span>
          </h3>
          <p class="card-content">
            <span class="mobile">Currently on my final coop term. Heading into my final year this fall.</span><span class="nm">Heading into my final year this fall. I usually pair my core computer science courses with creative electives to keep things interesting. I am also an executive member of the only photography club at McMaster.</span>
          </p>
        </div>
        <div class="icon-box">
          <span class="icon"
            ><img
              src="/mcmaster_university_logo.jpg"
              alt="Source Code"
              style={{ borderRadius: "7px" }}
            /></span
          >
        </div>
      </div>
    </div>
  
    <div class="parent card2">
      <h1 class="columntitle">EXPERIENCE.</h1>
      <div class="card">
        <div class="content-box">
          <h1 class="card-title">KORE Solutions</h1>
          <h3 class="card-subtitle">
            <span>Software Developer Intern</span><span id="experience-date"
            ></span>
          </h3>
          <p class="card-content">
            <span class="mobile"> Created and optimized Cypress tests, refactored test builders, and implemented a FastAPI backend for seamless integration with Flutter and MongoDB.</span>
            <span class="nm">Developed Cypress tests, optimizing performance and reliability for
            TRAX. Refactored test builders to reduce duplication. Designed a
            FastAPI backend with 15+ endpoints, integrating seamlessly with a
            Flutter frontend and MongoDB.</span>
          </p>
        </div>
        <div class="icon-box">
          <span class="icon"
            ><img
              src="/KORE.jpg"
              alt="Source Code"
              style={{ borderRadius: "7px" }}
            /></span
          >
        </div>
      </div>
    </div>
  </div>
  
  <script>
    const startDate = new Date("2024-05-05");
    const startEducationDate = new Date("2021-09-08");
    const endEducationDate = new Date("2026-04-03");
    const endDate = new Date("2025-04-03");
    const currentDate = new Date();
  
    const formatDate = (date: Date) => {
      return date.toLocaleDateString("en-US", {
        year: "numeric",
        month: "short",
      });
    };
  
    const experienceDateElement = document.getElementById("experience-date");
    const educationDateElement = document.getElementById("education-date");
  
    if (experienceDateElement) {
      if (currentDate < endDate) {
        experienceDateElement.textContent = `${formatDate(startDate)} - Present`;
      } else {
        experienceDateElement.textContent = `${formatDate(
          startDate
        )} - ${formatDate(endDate)}`;
      }
    }
  
    if (educationDateElement) {
      if (currentDate < endEducationDate) {
        educationDateElement.textContent = `${formatDate(
          startEducationDate
        )} - Present`;
      } else {
        educationDateElement.textContent = `${formatDate(
          startEducationDate
        )} - ${formatDate(endEducationDate)}`;
      }
    }
  </script>